td, th {
	border: 1px solid;
  }
  /* 1. Custom Font */
  body {
    font-family: ' Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    }
    /*2. Header Styling */
    h1 {
        color:#2c3e50;
        text-align:center;
        text-transform: uppercase;
        letter-spacing :2px;
        }
    /*3. Table Layout */
    .planet-table {
    width : 100%;
    border-collapse: collapse;/* takes away double borders */
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba (0,0,0,0.15);
    }
    /*4. Header Row */
    .planet-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    }
    /*5. Cell Padding & Borders*/
    .planet-table th,
    .planet-table td {
      padding :12px 15px;
      border-bottom: 1px solid #dddddd;
      }
    /* 6. Zebra stRiping */
    .planet-table tbody tr:nth-of-type (even){
      background-color: #f3f3f3;
      }
    /*7.Hover Effect */
    .planet-table tbody tr: hover {
    background-color: #flflfl;
    cursor: default;
    }
    /*8. Specific Column Styling */
    .planet-table {
    font-weight: bold;
    font-style: italic;
    color: #009879;
    }